ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    /* Add your preferred background color */
    padding: 10px;
    /* Add your preferred padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
   
}
.header-hover{
     color: black;
    }

.header-hover:hover {
    background-color: rgb(189, 188, 188);
    border-radius: 10px;
    color: black;
    
  }

.resume {
 padding-left: 28rem;
}



@media (max-width: 768px) {
    .header{
        height: 5.5rem;
        font-size: small;
        padding: 0.8rem;
    }
    .header-hover{
        padding: 0.1rem 0.5rem;
    }
    
    .resume{
        padding-left: 1rem;
    }
}
